{% extends 'main/header.html' %}


  {% block content %}

  <style xmlns="http://www.w3.org/1999/html">
    form {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .flex-wrap {display:flex;}
    .flex-wrap label {width:400px;margin-right:auto;}
    .flex-wrap button {width:450px;margin-right:auto;}
    .flex-wrap input {width:calc(100% - 50px);}
    .flex-wrap select {width:calc(100% - 250px);}

    input {
        width: 100%;
        padding: 8px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }

    button {
        width: 200px;
        padding: 8px 20px;
        margin: 8px 0;
    }

    th {vertical-align: middle !important;}
    </style>

  {% if user.is_authenticated %}
    <br>

    <div style="padding:20px;padding-left:10%;margin-top:30px;width:98%;display:flex">
        <form action="/calls_rep" method="get">
            <label for="l_box1"><input type="radio" name="display_type" value="1" id="l_box1">  Мои запросы</label>
            <label for="d_box2"><input type="radio" name="display_type" value="2" id="d_box2">  Свободные запросы</label>
            <button type="submit">Показать</button>
        </form>
             <form method="GET" action="/calls_rep" style="margin-left:10%;width:60%">
             <label for="search_box" style="display:block;width:220px">Поиск по номеру телефона:</label>
                 <input style="width:200px;margin-right:10px" type="search" name="phone_number" value="" id="search_box" placeholder="+375XXXXXXXX">
             <button type="submit">Найти</button>
        </form>
    </div>

    <div style="padding-left:10%;margin-top:30px;width:98%;">
        <table class="table table-striped">
          <thead>
            <tr align="center">
                <th scope="col" width="200">ID клиента</th>
                <th scope="col">Имя клиента</th>
                <th scope="col" width="250">Номер телефона</th>
                <th scope="col">Результат звонка</th>
                <th scope="col">Дата звонка</th>
                <th scope="col">Дата верификации</th>
                <th scope="col">Оператор</th>
                <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            {% for list in list_calls_reports %}
                <tr align="center">
                    <th scope="col" width="200"><a href="https://backoffice.betconstruct.com/#/customers/detail/{{list.client_id}}" target="_blank">{{ list.client_id }}</a></th>
                    <th scope="col">{{ list.client_name }}</th>
                    <th scope="col" width="250">{{ list.client_phone }}</th>
                    <th scope="col">{{ list.call_result }}</th>
                    <th scope="col">{{ list.call_date }}</th>
                    <th scope="col">{{ list.verified_date }}</th>
                    <th scope="col">{{ list.user_name }}</th>
                    <th><a href="/update_calls/{{list.id}}">Редактировать</a></th>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

  {% include 'main/includes/pagination.html' %}

  {% else %}
    <div style="padding:20px;margin-top:30px;">
        <h3>Для просмотра отчета необходимо авторизоваться</h3>
    </div>
  {% endif %}

  {% endblock %}
