{% extends 'main/header.html' %}

  {% block content %}

  <style xmlns="http://www.w3.org/1999/html">
    form {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .flex-wrap {display:flex;}
    .flex-wrap label {width:400px;margin-right:auto;}
    .flex-wrap button {width:450px;margin-right:auto;}
    .flex-wrap input {width:calc(100% - 50px);}
    .flex-wrap select {width:calc(100% - 250px);}

    input {
        width: 100%;
        padding: 8px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }

    button {
        width: 200px;
        padding: 8px 20px;
        margin: 8px 0;
    }

    th {
        vertical-align:
        middle !important;
        text-align: center;
    }

    </style>

  {% if user.is_authenticated %}

    <div style="padding-left:10%;margin-top:50px;width:98%;">
      <form class="noprint" method="GET" action="/cc_report" id="form_report">
            {{ months }} {{ years }}
        <input type="submit" value="Показать отчет">
    </form>
    </div>

    <div style="padding-left:10%;width:98%;">
        <header>
            <h4>Персональный отчет по обзвону не верифицированных клиентов, за {{ report_period }}</h4>
        </header>
        <table class="table table-striped">
          <thead>
            <tr align="center">
                <th scope="col">Оператор</th>
                <th scope="col">Отвеченые звонки</th>
                <th scope="col">Неотвеченые звонки</th>
                <th scope="col">Количество верификаций</th>
                <th scope="col">Количество депозитов</th>
                <th scope="col">Сумма депозитов</th>
             </tr>
          </thead>
          <tbody>
        {% for report in calls_report %}
            <tr align="center">
                <td>{{ report.user_name }}</td>
                <td>{{ report.answered_calls }}</td>
                <td>{{ report.unanswered_calls }}</td>
                <td>{{ report.verifications }}</td>
                <td>{{ report.deposit_count }}</td>
                <td>{{ report.deposit_sum }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        <header>
            <h4>Суммарные значения по обзвону не верифицированных клиентов, за {{ report_period }}</h4>
        </header>
        <table class="table table-striped">
          <thead>
            <tr align="center">
                <th scope="col">Общее количество звонков</th>
                <th scope="col">Отвеченые звонки</th>
                <th scope="col">Неотвеченные звонки</th>
                <th scope="col">Подумает</th>
                <th scope="col">Паланирует</th>
                <th scope="col">Не будет</th>
                <th scope="col">Номер не РБ</th>
                <th scope="col">Количество верификаций</th>
                <th scope="col">Количество / Сумма депозитов</th>
            </tr>
          </thead>
          <tbody>
        {% for report in calls_sum %}
            <tr align="center">
                <td>{{ report.calls_count }} / {{ report.calls_sum }}</td>
                <td>{{ report.answer_call }}</td>
                <td>{{ report.no_answer_calls }}</td>
                <td>{{ report.think_about_it }}</td>
                <td>{{ report.plans_to_game }}</td>
                <td>{{ report.will_not_game }}</td>
                <td>{{ report.no_rb_number }}</td>
                <td>{{ report.verification }}</td>
                <td>{{ report.deposit_count }} / {{ report.deposit_sum }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        <canvas id="chart" style="display: block; width: 98%; height: 400px;">

        </canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script>
    let ctx = document.getElementById("chart").getContext("2d");

        let chart = new Chart(ctx, {
          type: "bar",
          data: {
             labels: [{% for report in calls_report %}'{{ report.user_name }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
                datasets: [
                {
                  label: "Отвеченые звонки",
                  backgroundColor: "#79AEC8",
                  borderColor: "#417690",
                  data: [{% for report in calls_report %}{{ report.answered_calls }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                },
                {
                  label: "Неотвеченые звонки",
                  backgroundColor: "#FA8072",
                  borderColor: "#417690",
                  data: [{% for report in calls_report %}{{ report.unanswered_calls }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                },
                {
                  label: "Количество верификаций",
                  backgroundColor: "#3CB371",
                  borderColor: "#417690",
                  data: [{% for report in calls_report %}{{ report.verifications }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                },
                {
                  label: "Количество депозитов",
                  backgroundColor: "#FFD700",
                  borderColor: "#417690",
                  data: [{% for report in calls_report %}{{ report.deposit_count }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                },
                {
                  label: "Сумма депозитов",
                  backgroundColor: "#DA70D6",
                  borderColor: "#417690",
                  data: [{% for report in calls_report %}{{ report.deposit_sum }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                }
            ]
          },
          options: {
            title: {
                display: true
            }
           }
        });
    </script>

    <div style="padding-left:10%;margin-top:30px;width:98%;">
        <header>
            <h4>Отчет по обработанным обращениям, за {{ report_period }}</h4>
        </header>
        <table class="table table-striped">
          <thead>
            <tr align="center">
                <th scope="col">Оператор</th>
                <th scope="col">Входящие вызовы</th>
                <th scope="col">Исходящие вызовы</th>
                <th scope="col">Чаты</th>
                <th scope="col">Почтовые обращаения</th>
            </tr>
          </thead>
          <tbody>
        {% for report in appeal_report %}
            <tr align="center">
                <td>{{ report.user_name }}</td>
                <td>{{ report.appeal_incoming_calls_count }}</td>
                <td>{{ report.appeal_outgoing_calls_count }}</td>
                <td>{{ report.appeal_chats_count }}</td>
                <td>{{ report.appeal_mail_count }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>

        <header>
            <h4>Суммарные значения по обработанным обращениям, за {{ report_period }}</h4>
        </header>
        <table class="table table-striped">
          <thead>
            <tr align="center">
                <th scope="col">Входящие вызовы</th>
                <th scope="col">Исходящие вызовы</th>
                <th scope="col">Чаты</th>
                <th scope="col">Почтовые обращаения</th>
            </tr>
          </thead>
          <tbody>
        {% for report in appeal_report_sum %}
            <tr align="center">
                <td>{{ report.appeal_incoming_calls_count }}</td>
                <td>{{ report.appeal_outgoing_calls_count }}</td>
                <td>{{ report.appeal_chats_count }}</td>
                <td>{{ report.appeal_mail_count }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>

        <canvas id="appeal_chart" style="display:block; width: 100%; height: 400px;">
        </canvas>

    </div>
    <script>
    let ctx2 = document.getElementById("appeal_chart").getContext("2d");

        let appeal_chart = new Chart(ctx2, {
          type: "bar",
          data: {
             labels: [{% for report in appeal_report %}'{{ report.user_name }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
                datasets: [
                {
                  label: "Входящие вызовы",
                  backgroundColor: "#79AEC8",
                  borderColor: "#417690",
                  data: [{% for report in appeal_report %}{{ report.appeal_incoming_calls_count }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                },
                {
                  label: "Исходящие вызовы",
                  backgroundColor: "#FA8072",
                  borderColor: "#417690",
                  data: [{% for report in appeal_report %}{{ report.appeal_outgoing_calls_count }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                },
                {
                  label: "Чаты",
                  backgroundColor: "#3CB371",
                  borderColor: "#417690",
                  data: [{% for report in appeal_report %}{{ report.appeal_chats_count }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                },
                {
                  label: "Почта",
                  backgroundColor: "#FFD700",
                  borderColor: "#417690",
                  data: [{% for report in appeal_report %}{{ report.appeal_mail_count }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                }
            ]
          },
          options: {
            title: {
                display: true
            }
           }
        });
    </script>

<script>
  $(document).keydown(function (e) {
      if (e.keyCode === 13) {
        $("#form_report").submit();
      }
    });
</script>
  {% else %}

        {% include 'main/includes/non_authorised.html' %}

  {% endif %}

  {% endblock %}
