{% extends 'main/header.html' %}


  {% block content %}

  <style xmlns="http://www.w3.org/1999/html">
    form {
        width: 100%;
        margin-top: 2%;
    }

    .flex-wrap {display:flex;}
    .flex-wrap label {width:200px;margin-right:auto;}
    .flex-wrap button {width:250px;margin-left:auto;}
    .flex-wrap input {width:calc(100% - 250px);}
    .flex-wrap select {width:calc(100% - 50px);}

    form {display:flex;width:100%;}
    select {margin-right:auto;width:30%;}
    input {width:50%;}
    </style>

  {% if user.is_authenticated %}

    <div style="padding:20px;padding-left:10%;margin-top:30px;width:98%;">
        <form method="GET" action="/cc_report" >
             {{ months }} {{ years }}
        <input type="submit" value="Показать отчет">
    </form>
    </div>

    <div style="padding-left:10%;margin-top:30px;width:98%;">
        <table class="table table-striped">
          <thead>
            <tr align="center">
                <th scope="col">Оператор</th>
                <th scope="col">Отвеченые звонки</th>
                <th scope="col">Неотвеченые звонки</th>
                <th scope="col">Количество верификаций</th>
            </tr>
          </thead>
          <tbody>
        {% for report in calls_report %}
            <tr>
                {% for x in report %} <td align="center">{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
          </tbody>
        </table>
    </div>


    <div style="padding-left:10%;margin-top:30px;width:98%;">
        <table class="table table-striped">
          <thead>
            <tr align="center">
                <th scope="col">Общее количество звонков</th>
                <th scope="col">Количество звонков без ответа</th>
                <th scope="col">Количество звонков с ответом</th>
                <th scope="col">Подумает</th>
                <th scope="col">Паланирует</th>
                <th scope="col">Не будет</th>
                <th scope="col">Номер не РБ</th>
                <th scope="col">Количество верификаций</th>
            </tr>
          </thead>
          <tbody>
        {% for report in calls_sum %}
            <tr>
                {% for x in report %} <td align="center">{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
          </tbody>
        </table>
    </div>


  {% else %}
    <div style="padding:20px;margin-top:30px;">
        <h3>Для просмотра отчета необходимо авторизоваться</h3>
    </div>
  {% endif %}

  {% endblock %}
