<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>GrandCasino Reports</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
  </head>
  <body>

    {% include 'main/includes/navbar.html' %}

    {% block content %}

    {% endblock %}

        <script>
            window.addEventListener('load', function () {
                let activeLink = document.querySelector('a[href*="' + window.location.pathname.toString().slice(1, -1) + '"]');
                activeLink.style.background = '#28a745';
            });
        </script>

        <script>
            $(document).ready(function() {
            var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };
                var var_page = getUrlParameter('display_type');
                var var_month = getUrlParameter('month');
                var var_year = getUrlParameter('year');
                $('.change_url').each(function(){
                    var a_link = $(this).attr('href');
                    if (var_page === undefined) {
                           if (var_month) {
                            $(this).attr('href', '?month=' + var_month + '&year=' + var_year + '&' + a_link)
                        } else {
                            $(this).attr('href', '?' + a_link)
                        }
                    }
                    else {
                        $(this).attr('href', '?display_type=' + var_page + '&month=' + var_month + '&year=' + var_year + '&' + a_link);
                    };

                });

        });
        </script>
    </body>
</html>