{% extends 'main/header.html' %}

{% block content %}

  <style xmlns="http://www.w3.org/1999/html">
    form {
        width: 260px;
        margin-top: 2%;
    }

    .flex-wrap {display:flex;}
    .flex-wrap label {width:200px;margin-right:auto;}
    .flex-wrap button {width:250px;margin-left:auto;}
    .flex-wrap input {width:calc(100% - 250px);}
    .flex-wrap select {width:calc(100% - 50px);}

    form {display:flex;width:100%;}
    select {margin-right:auto;width:30%;}
    input {width:30%;}
    th {vertical-align: middle !important;}
    </style>

      {% if user.is_authenticated %}

    <div style="padding:20px;padding-left:10%;margin-top:30px;width:98%;">
    <form method="GET" action="/ip_info">
        <label for="ip_address">Введите IP адрес или имя домена: </label>
        <input id="ip_address" type="text" name="object" value=""> <!-- В "value=", можно внести значение по умолчанию -->
        <input type="submit" value="OK">
    </form>
    </div>
{% if status == 0 %}
    <div>
    </div>
{% elif status == 1 %}
    <div style="padding-left:10%;margin-top:30px;width:98%;">
        <table class="table table-striped">
            <thead>
                <tr align="center">
                    <td align="center">IP - адрес:</td>
                    <td align="center">Интернет провайдер:</td>
                    <td align="center">Организация:</td>
                    <td align="center">Страна:</td>
                    <td align="center">Регион:</td>
                    <td align="center">Город:</td>
                    <td align="center">Почтовый индекс:</td>
                    <td align="center">Координаты:</td>
                </tr>
            </thead>

            <tbody>
                <tr align="center">
                    <td align="center">{{ IP }}</td>
                    <td align="center">{{ Int_prov }}</td>
                    <td align="center">{{ Org }}</td>
                    <td align="center">{{ Country }}</td>
                    <td align="center">{{ Region_Name }}</td>
                    <td align="center">{{ City }}</td>
                    <td align="center">{{ ZIP }}</td>
                    <td align="center">{{ Lat }}, {{ Lon }}</td>
                </tr>
            </tbody>
        </table>
        <div align="center" id='map' style='width: 100%; height: 600px;'></div>
            <script>
              mapboxgl.accessToken = 'pk.eyJ1IjoiYXRyaWRlcyIsImEiOiJjbDZub29zcWEwMnZxM2pxcHdicmZmZTZuIn0.Spd_kV58-mYo34Leb8MUsg';
              const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [{{ Lon }}, {{ Lat }}], // starting position [lng, lat]
                zoom: 14 // starting zoom
              });
              // Create a default Marker and add it to the map.
                const marker1 = new mapboxgl.Marker()
                .setLngLat([{{ Lon }}, {{ Lat }}])
                .addTo(map);
            </script>
    </div>

{% endif %}

      {% else %}
        <div style="padding:20px;margin-top:30px;">
            <h3>Для просмотра отчета необходимо авторизоваться</h3>
        </div>
      {% endif %}

{% endblock %}
