{% extends 'main/header.html' %}


  {% block content %}

  <style xmlns="http://www.w3.org/1999/html">
    form {
        width: 260px;
        margin-top: 1%;
    }

    .flex-wrap {display:flex;}
    .flex-wrap label {width:200px;margin-right:auto;}
    .flex-wrap button {width:250px;margin-left:auto;}
    .flex-wrap input {width:calc(100% - 250px);}
    .flex-wrap select {width:calc(100% - 50px);}

    form {display:flex;width:100%;}
    select {margin-right:auto;width:30%;}
    input {width:30%;}
    th {vertical-align: middle !important;}
    </style>

  {% if user.is_authenticated %}


    <div style="padding:20px;margin-top:30px;">
        <table class="table table-striped">
          <thead>
            <tr align="center">
                <th scope="col" width="200">Дата</th>
                <th scope="col" width="300">Количество клиентов, предоставивших фото для верификации</th>
                <th scope="col">СУММА депозитов</th>
                <th scope="col">СУММА выводов</th>
                <th scope="col">GGR SPORT (продажи)</th>
                <th scope="col">GGR Casino (продажи)</th>
                <th scope="col">Информация о выводах свыше 5000 BYN</th>

                <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            {% for list_day in list_reports_day %}
                <tr align="center">
                    <th scope="col" width="200">{{ list_day.shift_date }}</th>
                    <th scope="col" width="300">{{ list_day.foto_clients }}</th>
                    <th scope="col">{{ list_day.deposits_sum }}</th>
                    <th scope="col">{{ list_day.withdrawals_sum }}</th>
                    <th scope="col">{{ list_day.ggr_sport }}</th>
                    <th scope="col">{{ list_day.ggr_casino }}</th>
                    <th scope="col">{{ list_day.withdrawals_5000 }}</th>
                    <th><a href="/update_risks_rep_day/{{list_day.id}}">Редактировать</a></th>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="pagination" style="padding:20px;display:flex;justify-content:center">
        <span class="step-links" style="display:block">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


  {% else %}
    <div style="padding:20px;margin-top:30px;">
        <h3>Для просмотра отчета необходимо авторизоваться</h3>
    </div>
  {% endif %}

  {% endblock %}
