{% extends 'main/header.html' %}

{% block content %}
  <style xmlns="http://www.w3.org/1999/html">
    form {
        width: 100%;
        margin-top: 2%;
    }

    .flex-wrap {display:flex;}
    .flex-wrap label {width:200px;margin-right:auto;}
    .flex-wrap button {width:250px;margin-left:auto;}
    .flex-wrap input {width:calc(100% - 250px);}
    .flex-wrap select {width:calc(100% - 50px);}

    form {display:flex;width:100%;}
    select {margin-right:auto;width:30%;}
    input {width:50%;}
    </style>

  {% if user.is_authenticated %}
    <div style="padding-left:10%;margin-top:30px;width:98%;">
      <br>
      {% for line in log_file %}

              {{ line }}<br>

      {% endfor %}
    </div>
    <div style="padding-left:10%;width:98%;">
      {% for line in skks_file %}

              {{ line }}<br>

      {% endfor %}
    </div><br>
    <div style="padding-left:10%;width:98%;">
      {% for line in site_file %}

              {{ line }}<br>

      {% endfor %}
    </div><br>
    <div style="padding-left:10%;width:98%;">
      {% for line in call_count_file %}

              {{ line }}<br>

      {% endfor %}
    </div>

  {% else %}

        {% include 'main/includes/non_authorised.html' %}

  {% endif %}

{% endblock %}