{% extends 'main/header.html' %}


  {% block content %}
  <style xmlns="http://www.w3.org/1999/html">
    form {
        width: 260px;
        margin-top: 1%;
    }

    .flex-wrap {display:flex;}
    .flex-wrap label {width:200px;margin-right:auto;}
    .flex-wrap button {width:250px;margin-left:auto;}
    .flex-wrap input {width:calc(100% - 250px);}
    .flex-wrap select {width:calc(100% - 50px);}

    form {display:flex;width:100%;}
    select {margin-right:auto;width:30%;}
    input {width:30%;}
    th {vertical-align: middle !important;}
    </style>
    <div style="padding:20px;margin-top:30px;">
        <form method="GET" action="/risks_rep" >
             {{ months }} {{ years }}
        <input type="submit" value="Показать отчет">
    </form>
    </div>
    <div style="padding:20px;margin-top:30px;">
    <table class="table table-striped">
      <thead>
        <tr align="center">
            <th scope="col" width="200">Оператор</th>
            <th scope="col">Верефицировано клиентов</th>
            <th scope="col">Повторно верефицировано клиентов</th>
            <th scope="col">Обработанных заключений</th>
            <th scope="col">Обработанных запросов поддержки</th>
            <th scope="col">Заявок в Help Desk</th>
            <th scope="col">Заявок в ОАПИ</th>
            <th scope="col">Выявленно схем</th>
        </tr>
      </thead>
      <tbody>
        {% for report in pers_reports %}
            <tr>
                {% for x in report %} <td align="center">{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    <div style="padding:20px;margin-top:30px;">
    <table class="table table-striped">
      <thead>
        <tr align="center">
            <th scope="col" width="170">Дата</th>
            <th scope="col">Верефицировано клиентов</th>
            <th scope="col">Повторно верефицировано клиентов</th>
            <th scope="col">Обработанных заключений</th>
            <th scope="col">Обработанных запросов поддержки</th>
            <th scope="col">Заявок в Help Desk</th>
            <th scope="col">Заявок в ОАПИ</th>
            <th scope="col">Выявленно схем</th>
            <th scope="col">Клиентов приславших фото</th>
            <th scope="col">Сумма депозитов</th>
            <th scope="col">Сумма выводов</th>
            <th scope="col">GGR Спорт</th>
            <th scope="col">GGR Казино</th>
            <th scope="col">Сумма выводов более 5к</th>
        </tr>
      </thead>
      <tbody>
        {% for report in calc_reports %}
            <tr>
                <td align="center"><b>{{ month_id }} {{ year_id }}</b></td>
                {% for x in report %}
                <td align="center"><b>{{ x }}</b></td>
                {% endfor %}
            </tr>
        {% endfor %}

        {% for report in risk_reports %}
            <tr>
                {% for x in report %} <td align="center">{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  {% endblock %}