{% extends 'main/header.html' %}


{% block content %}
  <style xmlns="http://www.w3.org/1999/html">
    form {
        width: 260px;
        margin-top: 1%;
    }

    .flex-wrap {display:flex;}
    .flex-wrap label {width:200px;margin-right:auto;}
    .flex-wrap button {width:250px;margin-left:auto;}
    .flex-wrap input {width:calc(100% - 250px);}
    .flex-wrap select {width:calc(100% - 50px);}
    </style>

    <div>
        <form method="GET" action="/rocket">
              {{ months }}
        <input type="submit" value="Показать количество сообщений">
    </form>
    </div>

    <div style="padding:20px;margin-top:30px;">
    <table class="table table-striped">
      <thead>
        <tr align="center">
            <th scope="col">ID чата</th>
            <th align="center">Количество сообщений</th>
        </tr>
      </thead>
      <tbody>
            <tr>
                <td scope="col" align="center">Support&Risk</td>
                <td align="center">{{ rocket_message_count }}</td>
            </tr>
      </tbody>
    </table>
    </div>
{% endblock %}
