{% extends 'main/header.html' %}


{% block content %}
    <div>
        <form method="GET" action="/rocket">
              {{ months }}
        <input type="submit" value="Показать количество сообщений">
    </form>
    </div>

    <div style="padding:20px;margin-top:30px;">
    <table class="table table-striped">
      <thead>
        <tr align="center">
            <th scope="col">ID чата</th>
            <th align="center">Количество сообщений</th>
        </tr>
      </thead>
      <tbody>
            <tr>
                <td scope="col" align="center">Support&Risk</td>
                <td align="center">{{ rocket_message_count }}</td>
            </tr>
      </tbody>
    </table>
    </div>
{% endblock %}
