<!--Navbar-->
<style>
    body {
        margin:0;
    }

    .fixed {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 40px;
        width: 160px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .fixed_horizontal {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0%;
        height: 40px;
        width: 100%;
    }


    .nav-item {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        color: white;
        background-color: #4CAF50;
    }

</style>



    <ul class="fixed">
        {% if user.is_authenticated %}

            {% if user in site_adm %}

                <li class="nav-item">
                  <a class="nav-link" href="/hold_round">Зависшие раунды</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/transaction_cancel">Отмена транзакции</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/create_payout_request">Заявка на выплату</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/create_player_in">Заявка на зачисление</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/risks_rep">Отдел рисков</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/fd_rep">Большие первые депозиты</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/list_risks_rep">Корректировка личного отчета</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/list_risks_rep_day">Корректировка суточного отчета</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/add_personal_report">Персональный отчет</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/add_day_report">Отчет за сутки</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/payment">Проверка платежа</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/rocket">RocketChat</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/calls_rep">Поддержка</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/crm_rep">Бездепозитники</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/appeal">Добавить обращение</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/appeal_rep">Отчет по обращениям</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/add_data">Внести данные</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/add_crm_data">Внести данные из CRM</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/cc_report">Отдел поддержки</a>
                </li>
            {% endif %}

            {% if user in risk_heads %}
            <li class="nav-item">
              <a class="nav-link" href="/transaction_cancel">Отмена транзакции</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/create_payout_request">Заявка на выплату</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/create_player_in">Заявка на зачисление</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/risks_rep">Отдел рисков</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/fd_rep">Большие первые депозиты</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/list_risks_rep">Корректировка личного отчета</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/list_risks_rep_day">Корректировка суточного отчета</a>
            </li>
            {% endif %}

            {% if user in risks %}
            <li class="nav-item">
              <a class="nav-link" href="/add_personal_report">Персональный отчет</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/add_day_report">Отчет за сутки</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/payment">Проверка платежа</a>
            </li>
            {% endif %}

            {% if user in support %}
            <li class="nav-item">
              <a class="nav-link" href="/calls_rep">Поддержка</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/crm_rep">Бездепозитники</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/appeal">Добавить обращение</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/appeal_rep">Отчет по обращениям</a>
            </li>
            {% endif %}

            {% if user in support_heads %}
            <li class="nav-item">
              <a class="nav-link" href="/rocket">RocketChat</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/calls_rep">Поддержка</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/crm_rep">Бездепозитники</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/add_data">Внести данные</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/appeal">Добавить обращение</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/appeal_rep">Отчет по обращениям</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/cc_report">Отдел поддержки</a>
            </li>
            {% endif %}

            {% if user in heads %}
            <li class="nav-item">
              <a class="nav-link" href="/rocket">RocketChat</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/risks_rep">Отдел рисков</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/cc_report">Отдел поддержки</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/rounds_rep">Незакрытые раунды</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/rounds">Незакрытые раунды отчет</a>
            </li>

            {% endif %}

            {% if user in crm %}
            <li class="nav-item">
              <a class="nav-link" href="/add_crm_data">Внести данные из CRM</a>
            </li>
            {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="/ip_info">Проверка адреса</a>
        </li>
    {% endif %}

    </ul>


<ul class="fixed_horizontal">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/reports">Главная</a>
        </li>
            {% if user in site_adm %}

                <li class="nav-item">
                  <a class="nav-link" href="/log_file">Логи</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/skks_games">Список игр в СККС (Prod)</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/skks_games_test">Список игр в СККС (Test)</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/disabled_games">Список отключенных игр</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/site_games">Список игр на сайте</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/missing_games">Потеряшки</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/rounds_rep">Незакрытые раунды</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/rounds">Незакрытые раунды отчет</a>
                </li>

            {% endif %}

            {% if user in game_control %}

                <li class="nav-item">
                  <a class="nav-link" href="/skks_games">Список игр в СККС (Prod)</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/skks_games_test">Список игр в СККС (Test)</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/site_games">Список игр на сайте</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/missing_games">Потеряшки</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/rounds_rep">Незакрытые раунды</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/rounds">Незакрытые раунды отчет</a>
                </li>

            {% endif %}

        <li style="float:right" class="nav-item">
          <a class="nav-link" href="/logout">Выйти</a>
        </li>

        <li style="float:right" class="nav-item">
          <a class="nav-link" href="/reports">Приветствую, {{user.first_name}}</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="/">Главная</a>
        </li>

        <li style="float:right" class="nav-item">
          <a class="nav-link" href="/login">Войти</a>
        </li>

        <li style="float:right" class="nav-item">
          <a class="nav-link" href="/register">Создать учетную запись</a>
        </li>
        {% endif %}
    </ul>