<!--Pagination box-->

<style>
  
    a.change_url[href*="#"] {
      background: rgb(40, 167, 69);
      color: #fff;
    }

    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 4px 4px;
        padding: 4px 6px;
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

    a[href='#'] {
      background-color: #4CAF50;
      color: #fff;
    }

    a {
      cursor: pointer;
    }
</style>

<div class="pagination" style="padding: 20px 0px;padding-left:9.5%;width:98%;display:flex;justify-content:center">
    {% comment %}<span class="step-links" style="display:block">
        {% if page_obj.has_previous %}
         <a class="change_url" href="page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
          <a>Previous</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <a class="change_url" href="#">{{ i }} </a>
          {% else %}
            <a class="change_url" href="page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="change_url" href="page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
          <a>Next</a>
        {% endif %}
    </span>{% endcomment %}


    {% if page_obj.has_previous %}
      <a class="change_url" href="?page=1">Start</a>
      <a class="change_url" href="page={{ page_obj.previous_page_number }}">Previous</a>
    {% else %}
      <a class="change_url">Start</a>
      <a class="change_url" >Previous</a>
    {% endif %}

    {% if page_obj.number > 10 %}
        <span style="display:flex; align-items: end">...</span>
    {% endif %}   

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="" href="#">{{ num }}</a>
      {% elif num > page_obj.number|add:'-10' and num < page_obj.number|add:'10' %}
        <a class="change_url "href="page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <span style="display:flex; align-items: end">...</span>
        <a class="change_url" href="page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}

    {% if page_obj.has_next %}
      <a class="change_url" href="page={{ page_obj.next_page_number }}">Next</a>
      <a class="change_url" href="page={{ page_obj.paginator.num_pages }}">End</a>
    {% else %}
      <a class="change_url">Next</a>
      <a class="change_url">End</a>
    {% endif %}
</div>

<!--Pagination box-->

